<div class="container">
<div class="form">
    <h3 class="titles">Inspire The Great</h3>
    <form name="triangleForm" method="GET">
      <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-5"><input type="text" id="" name="" placeholder="Your Name"></div>
              <div class="col-md-5"><input type="text" id="" name="" placeholder="Author's Name"></div>
              <div class="col-md-1"></div>
            </div>

      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-10">
          <textarea name="name" rows="8" cols="80" placeholder="Your Quote"></textarea>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-10">
        <input type="submit" value="Submit">
        </div>
        <div class="col-md-1"></div>
      </div>
    </form>
  </div>
  </div>
