
.titles {
  font-family: 'Dancing Script', cursive;
  font-size: 54px;
  text-align: center;
}
 .sections {
   border-radius: 5px;
   background-color: #f2f2f2;
   padding-top: 20px;
   padding-bottom: 40px;
   margin: 0 auto;
 }
